Data Types(Structures) In Python

In [1]:
#Starting data types
x = 5 # here x will be type of int 
y = 6.7 # used to declare float data type
z = 4+5j # used to declare complex data type
name = "python"
print("here is integer ",x,"type of x is ",type(x))
print("here is float ",y,"type of y is ",type(y))
print("here is complex ",z,"type of z is ",type(z))
print("here is string ",name,"type of name is ",type(name))

here is integer  5 type of x is  <class 'int'>
here is float  6.7 type of y is  <class 'float'>
here is complex  (4+5j) type of z is  <class 'complex'>
here is string  python type of name is  <class 'str'>

In [3]:
print('he said,"india is a rising country"')
para = """
this is line 1.
this is line 2.
this is para changed.
see it."""
print(para)

he said,"india is a rising country"

this is line 1.
this is line 2.
this is para changed.
see it.

In [7]:
#introduction to list
list1 = [1,2,3]  #homogenous list array of integers
list2 = [1.6,3.14,6.2] #array of floats
list3 = ['hello','hi','bye'] #homogenous list array of strings
list4 = [1,3.14,4+5j,'python',[1,2,3]] #hetrogenous list known as struture
print(list1)
print(list2)
print(list3)
print(list4)
print(*list1)

[1, 2, 3]
[1.6, 3.14, 6.2]
['hello', 'hi', 'bye']
[1, 3.14, (4+5j), 'python', [1, 2, 3]]
1 2 3

In [8]:
#let's understand list a bit more
#indexing supported in list
mylist = [ 36, 24, 15, 12, 86 ]
print(mylist[2],"=",mylist[-3])
print(mylist[4],"=",mylist[-1])
print(mylist[3],"=",mylist[-2])

15 = 15
86 = 86
12 = 12

In [9]:
mylist = [ 'hello world',3.14,'python is a good language',1,2,3,'good to go']
print(mylist[0])
print(mylist[-1])
print(mylist[2])
sum = mylist[1]+mylist[-2]+mylist[3]+mylist[-3]
print(sum)

hello world
good to go
python is a good language
9.14

In [10]:
#replacing and adding items to a list
mylist = ['python','c','c++','java','perl','ruby','swift']
length = len(mylist)
print(mylist)
mylist[length-1] = 'php'
print(mylist)
mylist[2] = '.net'
print(mylist)
print(mylist[3:6])
print(mylist[:])
print(mylist[3:])
print(mylist[:4])
print(mylist[2:6:3])

['python', 'c', 'c++', 'java', 'perl', 'ruby', 'swift']
['python', 'c', 'c++', 'java', 'perl', 'ruby', 'php']
['python', 'c', '.net', 'java', 'perl', 'ruby', 'php']
['java', 'perl', 'ruby']
['python', 'c', '.net', 'java', 'perl', 'ruby', 'php']
['java', 'perl', 'ruby', 'php']
['python', 'c', '.net', 'java']
['.net', 'ruby']

In [11]:
l = [40,10,20,30,41,55,66,443,22,3,7,8,9,12,34,4,65]
print(l[3:17:4])
print(l[:])
print(l[::-1])
print(dir(l))

[30, 443, 8, 4]
[40, 10, 20, 30, 41, 55, 66, 443, 22, 3, 7, 8, 9, 12, 34, 4, 65]
[65, 4, 34, 12, 9, 8, 7, 3, 22, 443, 66, 55, 41, 30, 20, 10, 40]
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [12]:
#list data types (mutable data type)
#collection of items - known as array if all items are similar
#else known as structure if all data types are different 
l = ['hi','i','am','a','list'] #declaration of list
print(l) #printing the whole list

#list has index numbers to access he elements starts from zero
print(l[0]) #accessing the index 0 element which is 'hi'
print(l[-1]) #last element of the list
print(l[4]) #element of index 4

#another way to traverse through list is slicing
#slice define starting and ending of the list with start : end parameter
#inside the index
print(l[:]) #will print whole list starting from zero ending in end 
print(l[3:5]) #print from index 3 to 4 . see 5 is not included because slicing take  n-1 index from last n
print(l[:4])

#slice also support jump as l[start:end:jump] which print each jumb var from starting
print(l[::2]) #will print every second element from list
print(l[2:5:3]) #will print index 2 var then try to jump 3 so ended with end
print(l[::-1]) #will print reverse of the list
print(l[-5:-1:2]) #will print every second element from index -5 to end

['hi', 'i', 'am', 'a', 'list']
hi
list
list
['hi', 'i', 'am', 'a', 'list']
['a', 'list']
['hi', 'i', 'am', 'a']
['hi', 'am', 'list']
['am']
['list', 'a', 'am', 'i', 'hi']
['hi', 'am']

In [15]:
#test 1
l = [12,10,5,7,3,54,68,54,2]
print(*l); print(l[2::3]); print(l[::-1])
l.append(23); l.append(46); l.insert(4,6) #insert(position,item) and shift remaining items
print(*l)
l.extend('hello');l.pop();l.pop()
print(l.count('l'))
l.pop();l.pop();l.pop();l.pop()
print(l.index(23)); l.pop(4); l.pop(0)
print(*l)
x = l.sort()
l.remove(7); l.remove(3)
l.reverse()
print(l)
l.sort(reverse=True)
print(l)
print(x); print(y); print(z)

12 10 5 7 3 54 68 54 2
[5, 54, 2]
[2, 54, 68, 54, 3, 7, 5, 10, 12]
12 10 5 7 6 3 54 68 54 2 23 46
1
10
10 5 7 3 54 68 54 2 23
[68, 54, 54, 23, 10, 5, 2]
[68, 54, 54, 23, 10, 5, 2]
None
6.7
(4+5j)

In [1]:
#introduction to dictionary
#collection of key and value pairs seprated with : and enclosed in {}
#syntax dict_name = { 'key1':'value1','key2':'value2'}
info = { 'name':"Python","age":"30","Type":"programming Language", }
#we can only acess dictionary with the help of keys
print(info) #will print dictinary as it is
print(info['name']) # will print values of name key in dictionary
print("Type = ",info['Type'])

{'name': 'Python', 'age': '30', 'Type': 'programming Language'}
Python
Type =  programming Language

In [2]:
#SETS 
cricket = {5,10,30,16,33}
footbal = { 45,35,16,10,20,25,6}
c_f = cricket.union(footbal)
print("Students Who plays cricket and footbal : ",*c_f)
c = cricket.intersection(footbal)
print("Students Who plays both Games :  ",*c)
result = c_f.difference(c)
print("Students Who play excatly one Game : ",*result)
s = {1,1,1,1,1,11,1,1,2,3,45,6435,23,1,1,1,1,1,}
print(*s) #does not include same items
new_set = {}
print(type(new_set))
new_set = set()
print(new_set)
print(type(new_set))
s = {1,2,3,45,556,}
new_set = new_set.union(s)
print(new_set)

Students Who plays cricket and footbal :  33 35 5 6 10 45 16 20 25 30
Students Who plays both Games :   16 10
Students Who play excatly one Game :  33 35 5 6 45 20 25 30
1 2 3 6435 11 45 23
<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 556, 45}

In [3]:
#Type Conversion in python
x = 'ABCDEF'
y = int(x,16)
print("Type of X : ",type(x))
print("Type of Y : ",type(y))
print("X = ",x)
print("Y = ",y)
x = int(input("Enter a no : "),16)
print("Type of x ")
print("X = ",x)

Type of X :  <class 'str'>
Type of Y :  <class 'int'>
X =  ABCDEF
Y =  11259375
Enter a no : 24
Type of x
X =  36

In [4]:
#conversion into list with help of inbuilt function list(seq)
my_string = 'something' #this is a string
my_list = list(my_string) #converting a string into list
print("String = ",my_string) #s will not change it just return list into k 
print("List of String = ",my_list) #printing list 
my_tuple = (1,'hello','how',3,4,) #This is tuple
my_list = list(my_tuple) #Converting tuple into list
print("Tuple = ",my_tuple) #it is still tuple
print("List of a Tuple = ",my_list) #it is list of tuple
my_dict =  { 'one':1,'two':2,'three':3,'four':4 } # this is dictionary
my_list = list(my_dict) #will return list of s dictionary into k var
print("Dictionary = ",my_dict) #no changes in dictionary
print("List representation of Dictionary = ",my_list) #it only takes keys to form a list from dictionary
my_list = list(my_dict.values()) #values will return values from dictionary
print("List of Values of Dictionary ",my_list)
my_set = {1,2,3,'hello','world',} # this is set
my_list = list(my_set) #converting set into list
print("Set = ",my_set) #s is still set
print("List of Set = ",my_list) #but k is a list now

String =  something
List of String =  ['s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']
Tuple =  (1, 'hello', 'how', 3, 4)
List of a Tuple =  [1, 'hello', 'how', 3, 4]
Dictionary =  {'one': 1, 'two': 2, 'three': 3, 'four': 4}
List representation of Dictionary =  ['one', 'two', 'three', 'four']
List of Values of Dictionary  [1, 2, 3, 4]
Set =  {1, 2, 3, 'hello', 'world'}
List of Set =  [1, 2, 3, 'hello', 'world']

In [8]:
#conversion into tuple with help of inbuilt function tuple(seq)
my_string = 'something' #this is a string
my_tuple = tuple(my_string) #converting a string into tuple
print("String = ",my_string) #s will not change it just return list into k 
print("List of String = ",my_tuple) #printing list 

my_tuple = (1,'hello','how',3,4,) #This is tuple
my_list = list(my_tuple) #Converting tuple into list
print("Tuple = ",my_tuple) #it is still tuple
print("List of a Tuple = ",my_list) #it is list of tuple

my_dict =  { 'one':1,'two':2,'three':3,'four':4 } # this is dictionary
my_list = list(my_dict) #will return list of s dictionary into k var
print("Dictionary = ",my_dict) #no changes in dictionary
print("List representation of Dictionary = ",my_list) #it only takes keys to form a list from dictionary
my_list = list(my_dict.values()) #values will return values from dictionary
print("List of Values of Dictionary ",my_list)

my_set = {1,2,3,'hello','world',} # this is set
my_list = list(my_set) #converting set into list
print("Set = ",my_set) #s is still set
print("List of Set = ",my_list) #but k is a list now

String =  something
List of String =  ('s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g')
Tuple =  (1, 'hello', 'how', 3, 4)
List of a Tuple =  [1, 'hello', 'how', 3, 4]
Dictionary =  {'one': 1, 'two': 2, 'three': 3, 'four': 4}
List representation of Dictionary =  ['one', 'two', 'three', 'four']
List of Values of Dictionary  [1, 2, 3, 4]
Set =  {1, 2, 3, 'hello', 'world'}
List of Set =  [1, 2, 3, 'hello', 'world']

In [9]:
#dictionary 
#we have to provide key and value pairs in a seq to convert into a dict
#let's define keyword and value pair as seq
my_list = [ ('one',1),('two',2),('three',3),('four',4),('five',5)] #this is nested list
my_dict = dict(my_list) #conversion of list to dictionary
print(my_list) #printing list 
print(my_dict) #printing dictionary of a list

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [10]:
#making a dictionary by taking 5 inputs as tuple key,vale pair
l = [] #declaring a empty list
one,two,three,four = input().split(),input().split(),input().split(),input().split()
five = input().split() #will take input as string and convert it into list by seprating from spaces
l.append(one);l.append(two);l.append(three);l.append(four);l.append(five)
print("Type of list we have created ",type(l))
print("Here is your list : ",l)
d = dict(l) #type conversion from list to dictionary
print("here is your result as dictionary : ",d)

name asif
gender male
profession student
language hindi
country india
Type of list we have created  <class 'list'>
Here is your list :  [['name', 'asif'], ['gender', 'male'], ['profession', 'student'], ['language', 'hindi'], ['country', 'india']]
here is your result as dictionary :  {'name': 'asif', 'gender': 'male', 'profession': 'student', 'language': 'hindi', 'country': 'india'}

In [1]:
l = []
one = input().split() #split function splits the value by space means it change space into ,
l.append(one)
print(l)

name asif sheikh
[['name', 'asif', 'sheikh']]